*.dta
*.rds
.Rproj.user
.DS_Store
/*/legacy
/*/data
/*/output/
*.XPT
*.gz
*.exe
*.log
*.DAT
*.dat
*.xml
CLAUDE.md
.claude/
Data-Overview-for-Term-Paper-with-Starter-Repository-Notes.Rmd
*.sas7bdat
*.Rhistory
*.Rproj
*.csv
